fastapi
uvicorn
langchain
langchain-openai
langchain-community
langchain-text-splitters
tiktoken
pydantic
chromadb
python-dotenv
tiktoken
# For GitHub and LinkedIn (PDF/Text) loading
pypdf
gitpython

